<div class="main-card mb-3 card animated fadeIn">
  <div class="card-body" disabled="">
    <div class="d-flex justify-content-end">
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(comisionesModal, 'C')">
          Det. Com.
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(tarifasModal, 'T')">
          Tarifas
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(allotmentsModal, 'A')">
          Allotment
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(centralesModal, 'E')">
          Centrales
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(observacionesModal, 'O')">
          Observac
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(misteryModal, 'M')">
          Mistery
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-secondary btn-md" type="button" (click)="openModal(garantiaModal, 'G')">
          Garantías
        </button>
      </div>
    </div>
    <div class="divider"></div>
    <form [formGroup]="ngForm">
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>
            Agencia:
          </label>
          <input type="text" class="form-control" formControlName="Agencia">
        </div>
        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <label>
            Nombre:
          </label>
          <input class="form-control" type="text" formControlName="anombre">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            Direccion 1:
          </label>
          <input type="text" class="form-control" formControlName="adireccion1">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            Direccion 2:
          </label>
          <input type="text" class="form-control" formControlName="adireccion2">
        </div>
      </div>
      <div class="row">
        <div class=" form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            Ciudad:
          </label>
          <input class="form-control" type="text" formControlName="aciudad">
        </div>
        <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            Estado:
          </label>
          <input type="text" class="form-control" formControlName="estado">
        </div>
        <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            C.P.:
          </label>
          <input class="form-control" type="number" formControlName="acp">
        </div>
        <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            Teléfono 1:
          </label>
          <input class="form-control" type="text" formControlName="atelefono1">
        </div>
        <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            Teléfono 2:
          </label>
          <input class="form-control" type="text" formControlName="atelefono2">
        </div>
        <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <label>
            Fax:
          </label>
          <input class="form-control" type="text" formControlName="afax">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            E-Mail:
          </label>
          <input class="form-control" type="text" formControlName="aemail">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            R.F.C.:
          </label>
          <input class="form-control" type="text" formControlName="rfc">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>
            Cond:
          </label>
          <input class="form-control" type="text" formControlName="atipo">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>
            Clasificación:
          </label>
          <input class="form-control" type="text" formControlName="aclasif">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label class="w-100">
            Top:
          </label>
          <!-- <input class="form-control" type="text" formControlName="atop"> -->
          <kendo-switch formControlName="atop"></kendo-switch>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label class="w-100">
            Allotment:
          </label>
          <!-- <input class="form-control" type="text" formControlName="acontrol"> -->
          <kendo-switch formControlName="acontrol"></kendo-switch>
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>
            Segmento:
          </label>
          <input class="form-control" type="text" formControlName="segmento">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>
            T.R.:
          </label>
          <input class="form-control" type="text" formControlName="treser">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg2 col-xl-2">
          <label>
            F.P.:
          </label>
          <input class="form-control" type="text" formControlName="afp">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>
            Origen:
          </label>
          <input class="form-control" type="text" formControlName="origen">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>
            IATA:
          </label>
          <input class="form-control" type="text" formControlName="aiata">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <label>
            Sucursal:
          </label>
          <input class="form-control" type="text" formControlName="sucursal">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <label>
            Cobranza:
          </label>
          <input class="form-control" type="text" formControlName="cobranza">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-1">
          <label>
            Factura:
          </label>
          <input class="form-control" type="text" formControlName="afact">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-2">
          <label class="w-100">
            Refacturar:
          </label>
          <!-- <input class="form-control" type="text" > -->
          <kendo-switch formControlName="arfact"></kendo-switch>
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-1">
          <label>
            Forma Fact.:
          </label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            Vendedor:
          </label>
          <input class="form-control" type="text" formControlName="Vendedor">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>
            Maestra:
          </label>
          <input class="form-control" type="text" formControlName="Maestra">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-9 col-md-9 col-lg-9 col-xl-9">
          <label>
            Notas:
          </label>
          <input class="form-control" type="text" formControlName="anotas">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>
            Usuario:
          </label>
          <input class="form-control" type="text" formControlName="Usuario" disabled>
        </div>
        <div class="form-group col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <label class="w-100">
            Inactivo:
          </label>
          <!--<input class="form-control" type="text">-->
          <kendo-switch formControlName="Inactivo"></kendo-switch>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Contactos</label>
          <input type="text" class="form-control" formControlName="acontacto1">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Puestos</label>
          <input type="text" class="form-control" formControlName="apuesto1">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Emails</label>
          <input type="text" class="form-control" formControlName="aemc1">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="acontacto2">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="apuesto2">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg- 4 col-xl-4">
          <input type="text" class="form-control" formControlName="aemc2">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="acontacto3">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="apuesto3">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="aemc3">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="acontacto4">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="apuesto4">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="aemc4">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="acontacto5">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="apuesto5">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="aemc5">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="acontacto6">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="apuesto6">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="text" class="form-control" formControlName="aemc6">
        </div>
      </div>
    </form>

    <kendo-grid [data]="dataGrid" [height]="410" [selectable]="true" (selectionChange)="selectedAgencia($event)"
      [pageSize]="pageSize" [skip]="skip" [pageable]="{
                  buttonCount: 5,
                  pageSizes: [10, 25, 50]}" (pageChange)="pageChange($event)">
      <kendo-grid-column field="Agencia" title="Agencia" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="anombre" title="Nombre" width="260">
      </kendo-grid-column>
      <kendo-grid-column field="aclasif" title="Clasif." width="80">
      </kendo-grid-column>
      <kendo-grid-column field="atop" title="Top" width="50">
      </kendo-grid-column>
      <kendo-grid-column field="acontrol" title="Allotment" width="60">
      </kendo-grid-column>
      <kendo-grid-column field="aiata" title="IATA" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="aciudad" title="Ciudad" width="200">
      </kendo-grid-column>
      <kendo-grid-column field="estado" title="Edo." width="50">
      </kendo-grid-column>
      <kendo-grid-column field="cobranza" title="Cobranza" width="80">
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
<!-- modal Comisiones -->
<ng-template #comisionesModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detalle de Comisiones</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <label>Agencia: </label>
        <input type="text" [(ngModel)]="comision_array.Agencia" [ngModelOptions]="{standalone: true}"
          class="form-control" readonly>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <label>Proc.:</label>
        <input type="text" [(ngModel)]="comision_array.proc" [ngModelOptions]="{standalone: true}" class="form-control"
          readonly>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <label>Tarifa:</label>
        <input type="text" [(ngModel)]="comision_array.tarifa" [ngModelOptions]="{standalone: true}"
          class="form-control" readonly>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <label>T.T.:</label>
        <input type="text" [(ngModel)]="comision_array.atipo" [ngModelOptions]="{standalone: true}" class="form-control"
          readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2 pt-0">Comision:</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="comisiones[0]">
        <label class="form-check-label">Hab.</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="comisiones[1]">
        <label class="form-check-label">A. y B..</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="comisiones[2]">
        <label class="form-check-label">Otros.</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="comisiones[3]">
        <label class="form-check-label">Imptos.</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <label>Porcentaje:</label>
        <input type="text" [(ngModel)]="comision_array.amonto" [ngModelOptions]="{standalone: true}"
          class="form-control" readonly>
      </div>
    </div>
    <kendo-grid [data]="gridDataServicios" [height]="410" [selectable]="true"
      (selectionChange)="selectedComision($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column field="Agencia" title="Agencia" width="260">
        </kendo-grid-column>
        <kendo-grid-column field="tarifa" title="Tarifa" width="260">
        </kendo-grid-column>
        <kendo-grid-column field="atipo" title="T.T." width="260">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- modal Tarifas -->
<ng-template #tarifasModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-chart">Tarifas</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class=form-horizontal>
      <div class="row">
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>Prov.:</label>
          <input type="text" class="form-control" [(ngModel)]="tarifa_array.prov" [ngModelOptions]="{standalone: true}"
            readonly>
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Código:</label>
          <input type="text" class="form-control" [(ngModel)]="tarifa_array.Agencia"
            [ngModelOptions]="{standalone: true}" readonly>
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Tarifa:</label>
          <input type="text" class="form-control" [(ngModel)]="tarifa_array.atarifa"
            [ngModelOptions]="{standalone: true}" readonly>
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>T.T.:</label>
          <input type="text" class="form-control" [(ngModel)]="tarifa_array.atipo" [ngModelOptions]="{standalone: true}"
            readonly>
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="410" [selectable]="true"
      (selectionChange)="selectedTarifa($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column field="prov" title="Prov" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="Agencia" title="Código" width="260">
        </kendo-grid-column>
        <kendo-grid-column field="atarifa" title="Tarifa" width="260">
        </kendo-grid-column>
        <kendo-grid-column field="atipo" title="T.T." width="260">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
    <kendo-grid [height]="150" [selectable]="true">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column title="Proc" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Descripción" width="30">
        </kendo-grid-column>
        <kendo-grid-column title="Moneda" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="T.F.L." width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Prom." width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Desde" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Hasta" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Gratis" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Porada" width="260">
        </kendo-grid-column>
        <kendo-grid-column title="Mínimo" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Prorratea" width="50">
        </kendo-grid-column>
        <kendo-grid-column title="Tarifa Cont." width="50">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- modal Allotment -->
<ng-template #allotmentsModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Allotment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Agencia:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.Agencia"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>&nbsp;</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label>Sec.:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.msecuencia"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label>Tipo Cto.:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.tcuarto"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label>Fecha Inicio:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mfecini"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label>Fecha Fin:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mfecter"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label># Ctos.:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mnctos"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>Cut-Off:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mcutoff"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Hotel:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mhotel"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label>Agencia:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.magencia"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Notas:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.mnotas"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label>Usuario:</label>
          <input type="text" class="form-control" [(ngModel)]="allotmentArr.Usuario"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="410" [selectable]="true"
      (selectionChange)="selectedAllotment($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column field="Agencia" title="Agencia" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="msecuencia" title="Sec." width="60">
        </kendo-grid-column>
        <kendo-grid-column field="tcuarto" title="Tipo Cto." width="90">
        </kendo-grid-column>
        <kendo-grid-column field="mfecini" title="Fecha Inicio" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mfecter" title="Fecha Terminación" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mnctos" title="# Ctos." width="60">
        </kendo-grid-column>
        <kendo-grid-column field="mcutoff" title="Cut-Off" width="60">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- Modal Centrales -->
<ng-template #centralesModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-chart">Centrales</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-10 col-md-10 col-lg-10 col-xl-10">
          <label class="control-label">Agencia:</label>
          <input class="form-control" [(ngModel)]="central_array.Agencia" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <label class="control-label">Central:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.adesc"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="control-label">Telefono 1:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.atel0"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <label class="control-label">Dirección 1:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.adir0"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="control-label">Telefono 2:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.atel1"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <label class="control-label">Dirección 2:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.adir1"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="control-label">Fax:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.afax"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="col-sm-1 control-label">Ciudad:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.aciudad"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="col-sm-1 control-label">Estado:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.Estado"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <label class="control-label">C.P.:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.acp" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label class="control-label">E-Mail:</label>
          <input type="text" class="form-control" [(ngModel)]="central_array.aemail"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="250" [selectable]="true"
      (selectionChange)="selectedCentrales($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column field="Agencia" title="Agencia" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="adesc" title="Central" width="260">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- Modal Observaciones -->
<ng-template #observacionesModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-chart">Observaciones</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Agencia:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Fecha:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Observaciones:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input type="text" class="form-control">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="250" [selectable]="true"
      (selectionChange)="selectedObservaciones($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column title="Agencia" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Fecha" width="260">
        </kendo-grid-column>
        <kendo-grid-column title="Observaciones" width="260">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- Modal Mistery -->
<ng-template #misteryModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-chart">Mistery Shopper</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Agencia:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Ofertas:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Fecha Sol:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>&nbsp;</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Base:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>&nbsp;</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Estancia:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Observaciones:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Gateway</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>&nbsp;</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Periodo:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>&nbsp;</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Persona:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="250" [selectable]="true"
      (selectionChange)="selectedMistery($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column title="Agencia" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Fecha Sol" width="260">
        </kendo-grid-column>
        <kendo-grid-column title="Estancia" width="260">
        </kendo-grid-column>
        <kendo-grid-column title="Estancia" width="120">
        </kendo-grid-column>
        <kendo-grid-column title="Gateway" width="260">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- Modal Garantia -->
<ng-template #garantiaModal let-c="close" let-d="dimiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-chart">Noches Garantia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Agencia:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.Agencia"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>&nbsp;</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Sec:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.msecuencia"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Tipo Cto.:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.tcuarto"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Fecha Inicio:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.mfecini"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Fecha Terminacion:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.mfecter"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label># Ctos.:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.mnctos"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-sm-10 col-md-10 col-lg-10 col-xl-10">
          <label>Notas:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.mnotas"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label>Usuario:</label>
          <input type="text" class="form-control" [(ngModel)]="garantia_array.Usuario"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridDataServicios" [height]="250" [selectable]="true"
      (selectionChange)="selectedGarantia($event)">
      <div *ngIf="gridDataServicios.length !== 0">
        <kendo-grid-column field="Agencia" title="Agencia" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="msecuencia" title="Sec." width="50">
        </kendo-grid-column>
        <kendo-grid-column field="tcuarto" title="Tipo Cto." width="120">
        </kendo-grid-column>
        <kendo-grid-column field="mfecini" title="Fecha Inicio" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="mfecter" title="Fecha Terminación" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="mnctos" title="# Ctos." width="50">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>