<div class="main-card mb-3 card animated fadeIn">
  <div class="card-body" disabled="">
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <label>Fecha:</label>
        <input type="text" class="form-control" readonly>
      </div>
      <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <label>Moneda:</label>
        <input class="form-control" type="text" readonly>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <label>&nbsp;</label>
        <input class="form-control" type="text" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <label>T.C. Renta:</label>
        <input class="form-control" type="text" readonly>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <label>T.C. Divisa:</label>
        <input class="form-control" type="text" readonly>
      </div>
    </div>
    <kendo-grid [height]="410" [selectable]="true">
      <!-- <div *ngIf="gridDataServicios.length !== 0"> -->
        <kendo-grid-column title="Fecha" width="100">
        </kendo-grid-column>
        <kendo-grid-column title="Moneda" width="60">
        </kendo-grid-column>
        <kendo-grid-column title="T.C.R. Cto." width="90">
        </kendo-grid-column>
        <kendo-grid-column title="T.C.D." width="120">
        </kendo-grid-column>
      <!-- </div> -->
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
</div>