$base-theme:Bootstrap;
$skin-name:theme2;
$accent: #ff5c1a;
$secondary: #e3e3e3;
$info: #5bc0de;
$success: #5cb85c;
$warning: #ffbb5b;
$error: #e3470e;
$body-bg: #ebebeb;
$body-color: #000000;
$component-bg: #fbfbfb;
$component-color: #1c3a4c;
$card-cap-bg: #f0f0f0;
$card-cap-color: #565656;
$series-a: #ff7943;
$series-b: #e84d0e;
$series-c: #40a9e3;
$series-d: #016a98;
$series-e: #7a8c95;
$series-f: #355261;
