$base-theme:Bootstrap;
$skin-name:theme-orange;
$accent: #fc5705;
$secondary: #363940;
$info: #0099cc;
$success: #2db245;
$warning: #feca3f;
$error: #d9534f;
$body-bg: #ffffff;
$body-color: #4c5356;
$component-bg: #ffffff;
$component-color: #363940;
$card-cap-bg: #363940;
$card-cap-color: #ffffff;
$series-a: #10c4b2;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
