<div class="main-card mb-3 card animated fadeIn">
  <div class="card-body">

    <ngb-tabset>
      <ngb-tab title="Codigos">
        <ng-template ngbTabContent>

          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
              <button class="btn btn-block btn-primary" (click)="nuevo()"><i class="fas fa-plus mr-2"></i>Nuevo</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
              <button class="btn btn-block btn-success" (click)="guardar()"><i
                  class="fas fa-save mr-2"></i>Guardar</button>
            </div>
          </div>

          <div class="divider"></div>

          <form [formGroup]="ngFormCodigos">
            <div class="row">
              <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <label>Código:</label>
                <input type="text" class="form-control" formControlName="Codigo">
              </div>
              <div class="form-group col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <label>Descripción:</label>
                <input type="text" class="form-control" formControlName="cdesc">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <label>Clase:</label>
                <input type="text" class="form-control" formControlName="cclase">
              </div>
              <div class="form-group col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <label>Descripción Secundaria:</label>
                <input type="text" class="form-control" formControlName="dsecundaria">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label># Subtotal:</label>
                <input type="text" class="form-control" formControlName="cnsubtotal">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Cargo Máximo:</label>
                <input type="text" class="form-control" formControlName="ccmaximo">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Débito/Crédito:</label>
                <input type="text" class="form-control" formControlName="cdc">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Secuencia:</label>
                <input type="text" class="form-control" formControlName="csecuencia">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label class="w-100">
                  E.M.A.:
                </label>
                <kendo-switch formControlName="cea"></kendo-switch>
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label>Tipo:</label>
                <input type="text" class="form-control" formControlName="Tipo">
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label class="w-100">
                  Inactivo:
                </label>
                <kendo-switch formControlName="Inactivo"></kendo-switch>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label>TM:</label>
                <input type="text" class="form-control" formControlName="ctr">
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label class="w-100">
                  Moneda:
                </label>
                <kendo-switch formControlName="cmoneda"></kendo-switch>
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <label>Servicio:</label>
                <input type="text" class="form-control" formControlName="cprop">
              </div>
            </div>

            <div class="divider"></div>

            <div *ngIf="ngFormCodigos.get('ctr').value == 'F' || ngFormCodigos.get('ctr').value == 'f'" class="form-group row justify-content-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[0]">
                <label class="form-check-label">Efectivo</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[1]">
                <label class="form-check-label">Tarjeta de Crédito</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[2]">
                <label class="form-check-label">Paid Out</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[3]">
                <label class="form-check-label">CxC Agencias</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[4]">
                <label class="form-check-label">CxC Empresas</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[5]">
                <label class="form-check-label">CxC Otros</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="formaPago" [checked]="forma_pago[6]">
                <label class="form-check-label">Otra F.P. (TF)</label>
              </div>
            </div>

            <div class="divider"></div>

            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Cuenta:</label>
                <input type="text" class="form-control" formControlName="ccuenta">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Cliente:</label>
                <input type="text" class="form-control" formControlName="caux">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Consecutivo:</label>
                <input type="text" class="form-control" formControlName="Con">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>U/M:</label>
                <input type="text" class="form-control" formControlName="Medida">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label class="w-100">
                  Desgloses:
                </label>
                <kendo-switch formControlName="cdesg"></kendo-switch>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Ope:</label>
                <input type="text" class="form-control" formControlName="cope">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>P.S. CFD</label>
                <input type="text" class="form-control" formControlName="cfdPS">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>F.P. CFD</label>
                <kendo-combobox class="form-control" [data]="codigoArr" [textField]="'text'" [valueField]="'value'"
                  [valuePrimitive]="true" [(ngModel)]="codigoSelectedItem" [ngModelOptions]="{standalone: true}"
                  (selectionChange)="codigoChange($event)">
                </kendo-combobox>
              </div>
            </div>
            <div class="divider"></div>
            <div class="form-group row justify-content-center">
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[0]"
                       [(ngModel)]="manejo_manual[0]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Caja</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[1]"
                       [(ngModel)]="manejo_manual[1]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Recepción</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[2]"
                       [(ngModel)]="manejo_manual[2]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Reserv.</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox"
                       [checked]="manejo_manual[3]"
                       [(ngModel)]="manejo_manual[3]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Audit. Noct.</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox"
                       [checked]="manejo_manual[4]"
                       [(ngModel)]="manejo_manual[4]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Depósitos</label>
              </div>
            </div>
            <div class="form-group row justify-content-center">
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox"
                       [checked]="manejo_manual[5]"
                       [(ngModel)]="manejo_manual[5]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Telefonos</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[6]"
                       [(ngModel)]="manejo_manual[6]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Ama de Llaves</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[7]"
                       [(ngModel)]="manejo_manual[7]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Servi-Bar</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[8]"
                       [(ngModel)]="manejo_manual[8]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">P. de Vta.</label>
              </div>
              <div class="form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="checkbox" 
                       [checked]="manejo_manual[9]"
                       [(ngModel)]="manejo_manual[9]" 
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Spa</label>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>&nbsp;</label>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Comprobantes</label>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Créditos</label>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Débitos</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-end">
                <label>Dia Anterior </label>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="ccomp1">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="ccredito1">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="cdebito1">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-end">
                <label>Al Mes </label>
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="ccomp2">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="ccredito2">
              </div>
              <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" formControlName="cdebito2">
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Impuestos">
        <ng-template ngbTabContent>
          <div class="d-flex">
            <div class="p-1 flex-column">
              <button class="btn btn-success btn-md" type="button">
                Guardar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-warning btn-md" type="button">
                Reset
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-primary btn-md" type="button">
                Nuevo
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-info btn-md" type="button">
                Copiar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-danger btn-md" type="button">
                Borrar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-secondary btn-md" type="button">
                Cancelar
              </button>
            </div>
          </div>
          <form [formGroup]="ngFormImptos">
            <div class="row">
              <div class="form-group col-sm-3">
                <label>Codigo:</label>
                <input type="text" class="form-control" formControlName="Codigo">
              </div>
              <div class="form-group col-sm-3">
                <label>&nbsp;</label>
                <input type="text" class="form-control" formControlName="CodigoDesc">
              </div>
              <div class="form-group col-sm-3">
                <label>Impto.</label>
                <input type="text" class="form-control" formControlName="Impto">
              </div>
              <div class="form-group col-sm-3">
                <label>&nbsp;</label>
                <input type="text" class="form-control" formControlName="ImptoDesc">
              </div>
            </div>
          </form>

          <kendo-grid [data]="gridImptos" [selectable]="true" (selectionChange)="selectedImpto($event)" [height]="100"
            [selectable]="true" [resizable]="true" [kendoGridSelectBy]="'Codigo'" [selectedKeys]="ngFormSelection">
            <kendo-grid-column field="Codigo" title="Cod." width="50">
            </kendo-grid-column>
            <kendo-grid-column field="Impto" title="Impto." width="50">
            </kendo-grid-column>
          </kendo-grid>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Desgloses">
        <ng-template ngbTabContent>

          <div class="d-flex">
            <div class="p-1 flex-column">
              <button class="btn btn-success btn-md" type="button">
                Guardar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-warning btn-md" type="button">
                Reset
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-primary btn-md" type="button">
                Nuevo
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-info btn-md" type="button">
                Copiar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-danger btn-md" type="button">
                Borrar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-secondary btn-md" type="button">
                Cancelar
              </button>
            </div>
          </div>

          <form [formGroup]="ngFormDesglose">
            <div class="row">
              <div class="form-group col-sm-4">
                <label>Codigo:</label>
                <input type="text" class="form-control" formControlName="Codigo">
              </div>
              <div class="form-group col-sm-4">
                <label>Moneda</label>
                <input type="text" class="form-control" formControlName="Moneda">
              </div>
              <div class="form-group col-sm-4">
                <label>Desglose.</label>
                <input type="text" class="form-control" formControlName="Detalle">
              </div>
            </div>
          </form>

          <kendo-grid [data]="gridDesg" [selectable]="true" (selectionChange)="selectedDesg($event)" [height]="100"
            [selectable]="true" [resizable]="true" [kendoGridSelectBy]="'Detalle'" [selectedKeys]="ngFormSelection">
            <kendo-grid-column field="Codigo" title="Cod." width="50">
            </kendo-grid-column>
            <kendo-grid-column field="Moneda" title="Moneda" width="50">
            </kendo-grid-column>
            <kendo-grid-column field="Detalle" title="Desglose" width="50">
            </kendo-grid-column>
          </kendo-grid>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Aplicación Contable">
        <ng-template ngbTabContent>

          <div class="d-flex">
            <div class="p-1 flex-column">
              <button class="btn btn-success btn-md" type="button">
                Guardar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-warning btn-md" type="button">
                Reset
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-primary btn-md" type="button">
                Nuevo
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-info btn-md" type="button">
                Copiar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-danger btn-md" type="button">
                Borrar
              </button>
            </div>
            <div class="p-1 flex-column">
              <button class="btn btn-secondary btn-md" type="button">
                Cancelar
              </button>
            </div>
          </div>

          <form [formGroup]="ngFormContable">
            <div class="row">
              <div class="form-group col-sm-4">
                <label>Codigo:</label>
                <input type="text" class="form-control" formControlName="Codigo">
              </div>
              <div class="form-group col-sm-4">
                <label>Ing. Agrp.:</label>
                <input type="text" class="form-control" formControlName="Iagrp">
              </div>
              <div class="form-group col-sm-4">
                <label>T.M.:</label>
                <input type="text" class="form-control" formControlName="cTM">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label>Cuenta:</label>
                <input type="text" class="form-control" formControlName="cuenta">
              </div>
              <div class="form-group col-sm-4">
                <label>Cliente:</label>
                <input type="text" class="form-control" formControlName="CuentaAux">
              </div>
              <div class="form-group col-sm-4">
                <label>Banco:</label>
                <input type="text" class="form-control" formControlName="Banco">
              </div>
            </div>
          </form>

          <kendo-grid [data]="gridCont" [selectable]="true" (selectionChange)="selectedCont($event)" [height]="100"
            [selectable]="true">
            <kendo-grid-column field="Codigo" title="Cod." width="50">
            </kendo-grid-column>
            <kendo-grid-column field="Iagrp" title="Ing. Agrp." width="50">
            </kendo-grid-column>
            <kendo-grid-column field="cTM" title="T.M." width="50">
            </kendo-grid-column>
            <kendo-grid-column field="cuenta" title="Cuenta." width="100">
            </kendo-grid-column>
            <kendo-grid-column field="Banco" title="Banco" width="50">
            </kendo-grid-column>
            <kendo-grid-column field="CuentaAux" title="Cliente" width="100">
            </kendo-grid-column>
          </kendo-grid>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <div class="divider"></div>

    <kendo-grid [data]="dataGrid" [height]="410" [selectable]="true" (selectionChange)="selectedCodigo($event)"
      [resizable]="true" [kendoGridSelectBy]="'Codigo'" [selectedKeys]="ngFormSelection" [pageSize]="pageSize"
      [skip]="skip" [pageable]="{
                  buttonCount: 5,
                  pageSizes: [10, 25, 50]}" (pageChange)="pageChange($event)">
      <kendo-grid-column field="Codigo" title="Cod." width="120">
      </kendo-grid-column>
      <kendo-grid-column field="cdesc" title="Descripción" width="260">
      </kendo-grid-column>
      <kendo-grid-column field="cclase" title="Clase" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="ccmaximo" title="Cargo Máximo" width="50">
      </kendo-grid-column>
      <kendo-grid-column field="cnsubtotal" title="#Subt." width="60">
      </kendo-grid-column>
      <kendo-grid-column field="ctr" title="TM" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="cdc" title="D / C" width="200">
      </kendo-grid-column>
    </kendo-grid>

  </div>
</div>