<div class="main-card mb-3 card animated fadeIn">
  <div class="card-body">

    <div *ngIf="auditoriaFlag">
      <form [formGroup]="ngFormAuditorias">
        <div class="row">
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Parámetro:</label>
            <input type="text" class="form-control" formControlName="parametro" readonly>
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Variaciones deTarifa:</label>
            <input type="text" class="form-control" formControlName="pchr1">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Variaciones de Bandas:</label>
            <input type="text" class="form-control" formControlName="pchr2">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Estadísticas:</label>
            <input type="text" class="form-control" formControlName="pchr3">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Salidas del Día:</label>
            <input type="text" class="form-control" formControlName="pchr4">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Movimientosa las Cuentas:</label>
            <input type="text" class="form-control" formControlName="pchr5">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>MovimientosFolios de Casa:</label>
            <input type="text" class="form-control" formControlName="pchr6">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>EntradasManuales:</label>
            <input type="text" class="form-control" formControlName="pchr7">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Ajustes Diarios:</label>
            <input type="text" class="form-control" formControlName="pchr8">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Auditoria Último Turno:</label>
            <input type="text" class="form-control" formControlName="pchr9">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Cierre Diario de Auditoría:</label>
            <input type="text" class="form-control" formControlName="pchr10">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Lista deHuespedes:</label>
            <input type="text" class="form-control" formControlName="pchr11">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Integración de Saldos:</label>
            <input type="text" class="form-control" formControlName="pchr12">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>DiscrepanciasAma de Llaves:</label>
            <input type="text" class="form-control" formControlName="pchr13">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Cierre deDepósitos:</label>
            <input type="text" class="form-control" formControlName="pchr14">
          </div>
          <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <label> Carpeta a copiar archivos</label>
            <input type="text" class="form-control" formControlName="pchr20">
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="facturasFlag">
      <form [formGroup]="ngFormFacturas">
        <div class="row">
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Parámetro:</label>
            <input type="text" class="form-control" formControlName="parametro">
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Quitar Formas de Pago:</label>
            <input type="text" class="form-control" formControlName="pchr1">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Moneda:</label>
            <input type="text" class="form-control" formControlName="pchr2">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Ajuste de Impuestos en Consumo (P.V.):</label>
            <input type="text" class="form-control" formControlName="pchr3">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Etiqueta y unidad de medida (Exentos Caja):</label>
            <input type="text" class="form-control" formControlName="pchr4">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Etiqueta para Consumo (P.V.):</label>
            <input type="text" class="form-control" formControlName="pchr5">
          </div>
          <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <label>Razon Social por Ingreso Agrupado (P.V.):</label>
            <input type="text" class="form-control" formControlName="pchr6">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label>Desglosa impuestos din RFC:</label>
            <input type="text" class="form-control" formControlName="pchr20">
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="formatoGeneralFlag">
      <form [formGroup]="ngFormFormatoGral">
        <div class="row">
          <div class="form-group col-sm-5 col-md-4 col-lg-5 col-xl-5">
            <label>Parámetro:</label>
            <input type="text" class="form-control" formControlName="parametro">
          </div>
          <div class="form-group col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label>Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion">
          </div>
          <div class="form-group col-sm-2 col-md-3 col-lg-2 col-xl-2">
            <label>Formato de Fecha:</label>
            <input type="text" class="form-control" formControlName="pchr1">
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="llavesCreditosFlag">
      <form [formGroup]="ngFormLlavesCreditos">
        <div class="row">
          <div class="form-group col-sm-5 col-md-4 col-lg-5 col-xl-5">
            <label>Parámetro:</label>
            <input type="text" class="form-control" formControlName="parametro">
          </div>
          <div class="form-group col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label>Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion">
          </div>
          <div class="form-group col-sm-2 col-md-3 col-lg-2 col-xl-2">
            <label>Creditos Camaristas:</label>
            <input type="text" class="form-control" formControlName="pchr1">
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="chequesFlag">
      <form [formGroup]="ngFormCheques">
        <div class="row">
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Parámetro:</label>
            <input type="text" class="form-control" formControlName="parametro" readonly>
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Con Impuestos Incluidos (Docs.):</label>
            <input type="text" class="form-control" formControlName="pchr1">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Lineas al Final:</label>
            <input type="text" class="form-control" formControlName="pchr2">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Imprimo Cheque al Cierre:</label>
            <input type="text" class="form-control" formControlName="pchr3">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Descuento por platillo:</label>
            <input type="text" class="form-control" formControlName="pchr4">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Descripcipción en un renglón:</label>
            <input type="text" class="form-control" formControlName="pchr5">
          </div>
          <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label>Descripcion del platillo en cuenta de huesped:</label>
            <input type="text" class="form-control" formControlName="pchr6">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Etiqueta 'Propina' para Cheque:</label>
            <input type="text" class="form-control" formControlName="pchr7">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Restringe limite de credito huespedes:</label>
            <input type="text" class="form-control" formControlName="pchr8">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Graba Comanda Web:</label>
            <input type="text" class="form-control" formControlName="pchr9">
          </div>
          <div class="form-group col-sm-3 col-md-6 col-lg-3 col-xl-3">
            <label>Permite Platillos en Ceros:</label>
            <input type="text" class="form-control" formControlName="pchr10">
          </div>
        </div>
      </form>
    </div>
    <kendo-grid [data]="gridParametros" [height]="410" [selectable]="true"
      (selectionChange)="selectedParametro($event)">
      <div *ngIf="gridParametros.length !== 0">
        <kendo-grid-column field="parametro" title="Parámetro" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="descripcion" title="Descripción" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="Borrar" title="Borrar" width="70">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>

</div>