// Variables

$spacer-lg: 3rem;
$spacer-sm: 1.5rem;

$layout-spacer-lg: 3rem;
$layout-spacer-x: 1.5rem;

$app-sidebar-width: 300px;
$app-sidebar-width-collapsed: 80px;

$logo-height: 30px;
$logo-width: 97px;
$logo-url: './assets/images/logo_sih.jpg';

$app-header-height: 60px;
