<div class="main-card mb-3 card animated fadeIn">
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <div class="p-1 flex-column">
        <button class="btn btn-success btn-md" type="button" (click)="guardarMedida()">
          Guardar
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-warning btn-md" type="button" (click)="modificarMedida()">
          Modificar
        </button>
      </div>
      <div class="p-1 flex-column">
        <button class="btn btn-danger btn-md" type="button" (click)="eliminarMedida()">
          Eliminar
        </button>
      </div>
    </div>
    <div class="divider"></div>
    <form [formGroup]="ngFormOpc">
      <div class="row">
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>U/M:</label>
          <input type="text" class="form-control" formControlName="cMedida">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>Inactivo:</label>
          <input type="text" class="form-control" formControlName="Inactivo">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label>Descripción:</label>
          <input type="text" class="form-control" formControlName="cDesc">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <label>U/M CFD:</label>
          <input type="text" class="form-control" formControlName="cfdMedida">
        </div>
      </div>
    </form>
    <kendo-grid [data]="gridMedidas" [height]="410" [selectable]="true" (selectionChange)="selectedMedida($event)">
      <div *ngIf="gridMedidas.length !== 0">
        <kendo-grid-column field="cMedida" title="U/M" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="cDesc" title="Descripción" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="cfdMedida" title="U/M CFD" width="70">
        </kendo-grid-column>
      </div>
      <ng-template kendoGridNoRecordsTemplate>
        No se encontraron registros
      </ng-template>
    </kendo-grid>
  </div>
</div>