<div class="main-card mb-3 card animated fadeIn">
    <div class="card-body" disabled="">
        <div class="d-flex justify-content-end">
            <div class="p-1 flex-column">
                <button class="btn btn-secondary btn-md" type="button" (click)="openModalTarifas(tarifasModal)">
                    Tarifas
                </button>
            </div>
            <div class="p-1 flex-column">
                <button class="btn btn-secondary btn-md" type="button" (click)="openModalRFC(RFCModal)">
                    R.F.C.
                </button>
            </div>
        </div>
        <div class="divider"></div>
        <form [formGroup]="ngForm">
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label id="labelEmpresa">
                        Empresa:
                    </label>
                    <input type="text" id="empresa" class="form-control" formControlName="Empresa">
                </div>
                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <label>
                        Nombre:
                    </label>
                    <input class="form-control" type="text" id="nombre" formControlName="enombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label>
                        Direccion 1:
                    </label>
                    <input type="text" class="form-control" id="direccion1" formControlName="edireccion1">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label>
                        Direccion 2:
                    </label>
                    <input type="text" class="form-control" id="direccion2" formControlName="edireccion2">
                </div>
            </div>
            <div class="row">
                <div class=" form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Ciudad:
                    </label>
                    <input class="form-control" type="text" id="ciudad" formControlName="eciudad">
                </div>
                <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Estado:
                    </label>
                    <input type="text" class="form-control" id="estado" formControlName="estado">
                </div>
                <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        C.P.:
                    </label>
                    <input class="form-control" type="number" id="cp" formControlName="ecp">
                </div>
                <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Teléfono 1:
                    </label>
                    <input class="form-control" type="text" id="telefono1" formControlName="etelefono1">
                </div>
                <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Teléfono 2:
                    </label>
                    <input class="form-control" type="text" id="telefono2" formControlName="etelefono2">
                </div>
                <div class="form-group col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Fax:
                    </label>
                    <input class="form-control" type="text" id="fax" formControlName="efax">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label>
                        R.F.C.:
                    </label>
                    <input class="form-control" type="text" id="rfc" formControlName="rfc">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label>
                        Clasificación:
                    </label>
                    <input class="form-control" type="text" id="clasificacion" formControlName="Clasif">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Cond:
                    </label>
                    <input class="form-control" type="text" id="cond" formControlName="etipo">
                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        T.R.:
                    </label>
                    <input class="form-control" type="text" id="tr" formControlName="treser">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label>
                        Segmento:
                    </label>
                    <input class="form-control" type="text" id="segmento" formControlName="Segmento">
                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg2 col-xl-2">
                    <label>
                        F.P.:
                    </label>
                    <input class="form-control" type="text" id="fp" formControlName="efp">
                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Origen:
                    </label>
                    <input class="form-control" type="text" id="origen" formControlName="Origen">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <label>
                        Sucursal:
                    </label>
                    <input class="form-control" type="text" id="sucursal" formControlName="Sucursal">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <label>
                        Cobranza:
                    </label>
                    <input class="form-control" type="text" id="cobranza" formControlName="Cobranza">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Factura:
                    </label>
                    <input class="form-control" type="text" id="factura" formControlName="efact">
                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label class="w-100">
                        Refacturar:
                    </label>
                    <!-- <input class="form-control" type="text" id="refacturar" formControlName="erfact"> -->
                    <kendo-switch formControlName="erfact"></kendo-switch>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-1">
                    <label>
                        Forma Fact.:
                    </label>
                    <input class="form-control" type="text" id="formaFact" formControlName="eenv">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label>
                        Vendedor:
                    </label>
                    <input class="form-control" type="text" id="vendedor" formControlName="Vendedor">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <label>
                        Notas:
                    </label>
                    <input class="form-control" type="text" id="notas" formControlName="enotas">
                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <label>
                        Usuario:
                    </label>
                    <input class="form-control" type="text" id="usuario" formControlName="Usuario" disabled>
                </div>
                <div class="form-group col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <label class="w-100">
                        Inactivo:
                    </label>
                    <!--<input class="form-control" type="text" id="inactivo" formControlName="Inactivo">-->
                    <kendo-switch formControlName="Inactivo"></kendo-switch>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label>Contactos</label>
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto1">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label>Puesto</label>
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto1">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label>Emails</label>
                    <input type="text" class="form-control" id="emails" formControlName="eemail1">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto2">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto2">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg- 4 col-xl-4">
                    <input type="text" class="form-control" id="emails" formControlName="eemail2">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto3">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto3">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="emails" formControlName="eemail3">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto4">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto4">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="emails" formControlName="eemail4">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto5">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto5">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="emails" formControlName="eemail5">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="contactos" formControlName="econtacto6">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="puesto" formControlName="epuesto6">
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" id="emails" formControlName="eemail6">
                </div>
            </div>
        </form>

        <kendo-grid [data]="dataGrid" [height]="410" [selectable]="true" (selectionChange)="selectedEmpresa($event)"
            [pageSize]="pageSize" [skip]="skip" [pageable]="{
                    buttonCount: 5,
                    pageSizes: [10, 25, 50]}" (pageChange)="pageChange($event)">
            <div *ngIf="gridData.length !== 0">
                <kendo-grid-column field="Empresa" title="Empresa" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="enombre" title="Nombre" width="260">
                </kendo-grid-column>
                <kendo-grid-column field="eciudad" title="Ciudad" width="260">
                </kendo-grid-column>
                <kendo-grid-column field="estado" title="Edo." width="260">
                </kendo-grid-column>
                <kendo-grid-column field="Cobranza" title="Cobranza" width="260">
                </kendo-grid-column>
            </div>
            <ng-template kendoGridNoRecordsTemplate>
                No se encontraron registros
            </ng-template>
        </kendo-grid>

    </div>
</div>

<ng-template #tarifasModal let-c="close" let-d="dimiss" let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-chart">Tarifas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Prov.: {{ tarifa.prov }}</label>
                <div *ngIf="gridDataTarifas.length !== 0">

                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Código: {{ tarifa.Empresa }}</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Tarifa: {{ tarifa.atarifa }}</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>T.T.: {{ tarifa.atipo }}</label>
            </div>
        </div>
        <kendo-grid [data]="gridDataTarifas" [height]="410" [selectable]="true"
            (selectionChange)="selectedTarifa($event)">
            <div *ngIf="gridDataTarifas.length !== 0">
                <kendo-grid-column field="prov" title="Prov" width="120">
                </kendo-grid-column>
                <kendo-grid-column field="Empresa" title="Código" width="260">
                </kendo-grid-column>
                <kendo-grid-column field="atarifa" title="Tarifa" width="260">
                </kendo-grid-column>
                <kendo-grid-column field="atipo" title="T.T." width="260">
                </kendo-grid-column>
            </div>
            <ng-template kendoGridNoRecordsTemplate>
                No se encontraron registros
            </ng-template>
        </kendo-grid>
        <kendo-grid [height]="70" [selectable]="true">
            <div *ngIf="gridDataTarifas.length !== 0">
                <kendo-grid-column title="Proc" width="120">
                </kendo-grid-column>
                <kendo-grid-column title="Descripción" width="30">
                </kendo-grid-column>
                <kendo-grid-column title="Moneda" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="T.F.L." width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Prom." width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Desde" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Hasta" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Gratis" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Porada" width="260">
                </kendo-grid-column>
                <kendo-grid-column title="Mínimo" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Prorratea" width="50">
                </kendo-grid-column>
                <kendo-grid-column title="Tarifa Cont." width="50">
                </kendo-grid-column>
            </div>
            <ng-template kendoGridNoRecordsTemplate>
                No se encontraron registros
            </ng-template>
        </kendo-grid>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
            Cerrar
        </button>
    </div>
</ng-template>
<ng-template #RFCModal let-c="close" let-d="dimiss" let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-chart">R.F.C.</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>Empresa:</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <label>R.F.C.:</label>
            </div>
        </div>
        <kendo-grid [data]="gridDataRFC" [height]="410" [selectable]="true" (selectionChange)="selectedRFC($event)">
            <div *ngIf="gridDataRFC.length !== 0">
                <kendo-grid-column title="Empresa" width="120">
                </kendo-grid-column>
                <kendo-grid-column title="R.F.C." width="300">
                </kendo-grid-column>
            </div>
            <ng-template kendoGridNoRecordsTemplate>
                No se encontraron registros
            </ng-template>
        </kendo-grid>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary ml-2 py-3 px-4" (click)="c('Close click')">
            Cerrar
        </button>
    </div>
</ng-template>